In [52]:
import pandas as pd 

ofertadados = pd.read_csv("Documents/dados/portfolio_ofertas - portfolio_ofertas.csv")
eventosdados = pd.read_csv("Documents/dados/eventos_ofertas.csv",encoding="latin1")

eventosdados = eventosdados.loc[eventosdados["cliente"].notnull()]

In [36]:
ofertadados

,Unnamed: 0,recompensa,canal,valor_minimo,duracao,id,oferta
0,1,10,"['email', 'mobile', 'social']",10,7,ae264e3637204a6fb9bb56bc8210ddfd,"compre 1, leve 2"
1,2,10,"['web', 'email', 'mobile', 'social']",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,"compre 1, leve 2"
2,3,0,"['web', 'email', 'mobile']",0,4,3f207df678b143eea3cee63160fa8bed,informativo
3,4,5,"['web', 'email', 'mobile']",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,"compre 1, leve 2"
4,5,5,"['web', 'email']",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,desconto
5,6,3,"['web', 'email', 'mobile', 'social']",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,desconto
6,7,2,"['web', 'email', 'mobile', 'social']",10,10,fafdcd668e3743c1bb461111dcafc2a4,desconto
7,8,0,"['email', 'mobile', 'social']",0,3,5a8bc65990b245e5a138643cd4eb9837,informativo
8,9,5,"['web', 'email', 'mobile', 'social']",5,5,f19421c1d4aa40978ebb69ca19b0e20d,"compre 1, leve 2"
9,10,2,"['web', 'email', 'mobile']",10,7,2906b810c7d4411798c6938adc9daaa5,desconto

In [56]:
filtrorecompensa = eventosdados.loc[eventosdados["recompensa"].notnull()]

In [58]:
filtrorecompensa.loc[filtrorecompensa["valor"].isnull(),"valor"]

,Unnamed: 0,cliente,tempo_decorrido,valor,id_oferta,recompensa,tipo_evento
12658,12659,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,0,NaN,2906b810c7d4411798c6938adc9daaa5,2.0,oferta concluída
12672,12673,fe97aa22dd3e48c8b143116a8403dd52,0,NaN,fafdcd668e3743c1bb461111dcafc2a4,2.0,oferta concluída
12679,12680,629fc02d56414d91bca360decdfa9288,0,NaN,9b98b8c7a33c4b65b9aebfe6a799e6d9,5.0,oferta concluída
12692,12693,676506bad68e4161b9bbaffeb039626b,0,NaN,ae264e3637204a6fb9bb56bc8210ddfd,10.0,oferta concluída
12697,12698,8f7dd3b2afe14c078eb4f6e6fe4ba97d,0,NaN,4d5c57ea9a6940dd891ad53e9dbe8da0,10.0,oferta concluída
...,...,...,...,...,...,...,...
306475,306476,0c027f5f34dd4b9eba0a25785c611273,714,NaN,2298d6c36e964ae4a3e7e9706d1fb8c2,3.0,oferta concluída
306497,306498,a6f84f4e976f44508c358cc9aba6d2b3,714,NaN,2298d6c36e964ae4a3e7e9706d1fb8c2,3.0,oferta concluída
306506,306507,b895c57e8cd047a8872ce02aa54759d6,714,NaN,fafdcd668e3743c1bb461111dcafc2a4,2.0,oferta concluída
306509,306510,8431c16f8e1d440880db371a68f82dd0,714,NaN,fafdcd668e3743c1bb461111dcafc2a4,2.0,oferta concluída
306527,306528,24f56b5e1849462093931b164eb803b5,714,NaN,fafdcd668e3743c1bb461111dcafc2a4,2.0,oferta concluída